.maincontainer {
  background-color: white;
  min-height: 100vh;
  width: 100vw;
}

.container {
  border: 1px solid #f0f0f0;
  min-height: 30vh;
  width: 50vw;
  margin: 40px auto;
  border-radius: 4px;
}

.input-area {
  background-color: #f0f0f0;
  padding: 30px;
}

.list {
  padding: 10px 30px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 20px;
}

.list:hover {
  background-color: #f0f0f0;
}

.list-area {
  background-color: #fff;
}

.input {
  height: 30px;
  padding: 6px 12px;
  font-size: 22px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.d-flex {
  display: inline-flex;
}

.d-flex2 {
  display: inline-flex;
  margin-top: 15px;
}

.btn {
  height: 40px;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 2px;
}

.go-btn {
  background-color: green;
  border: 1px solid green;
  color: white;
  margin-left: 20px;
}

.clear-btn {
  background-color: #ccc;
  border: 1px solid #ccc;
  color: maroon;
  margin-left: 20px;
}

@media(max-width: 850px) {
  .container{
    width: 90vw;
  }
  .d-flex{
    display: block
  }
  .d-flex2{
    display: block
  }
}
@media(max-width: 450px) {
  .input{
    width: 90%;
  }
  .btn{
    margin-top: 10px;
  }
}
