<div class="maincontainer">
  <div class="container">
    <div class="input-area">
      <div class="d-flex">
        <input placeholder="Enter username" [formControl]="userSearchField" type="text" class="input" name="repoInput">
        <button (click)="searchUserRepo()" type="submit" class="btn go-btn">Go</button>
        <button (click)="clearField(0)" type="button" class="btn clear-btn">Clear</button>
      </div>
      <div class="d-flex2">
        <input placeholder="Enter to filter" [formControl]="filterField" type="text" class="input" name="repoInput">
        <button (click)="clearField(1)" type="button" class="btn clear-btn">Clear</button>
      </div>
    </div>
    <div class="list-area">
      <div class="list" *ngFor="let item of displayArray">
        {{item.name}}
      </div>
    </div>
  </div>
</div>